# Data enginnering for the I94 and other dimension data
### Udacity Data Engineering nanodegree Capstone Project

#### Project Summary
The project is to provide the fact and dimensiona data model for the research of I94 data with the temperature,airport and state demographic data

The fact table of I94 data will link to the temperature data, airport data and state demographic data through the following linkage:

We add the country_code column to temperture data, which can link to the i94city or i94res of I94 data.

We add the state_abbreviation column to demographic, which can link to the i94addr of I94 data

The iata_code column of airport data can link to the i94 port data.

#### Project Purpose
We hope the data model will be helpful for researcher of immigration office to explore the following question.

1. The relationship between the variable(number,type,gender) of I94 and the increased range of temperature of different countries.
2. The relationship between the variable(number,type,gender) of I94 and the elevation_ft of different airports.
3. The relationship between the variable(number,type,gender) of I94 and the variable(age,population,number of veterans and so on) of different state.
4. Summay the data group by other dimension for other research purpose.

Also, hope it's also helpful for climate social scientist to find the impact on people immigration under the background of the global warming.

#### The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd
import datetime
from pyspark.sql import SparkSession
from pyspark.context import SparkContext
from pyspark.sql import SQLContext
from datetime import datetime, timedelta
import numpy as np
import boto3
import os
import json
import configparser
import matplotlib.pyplot as plt

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here

# Read world temperature data
fname = '../../data2/GlobalLandTemperaturesByCity.csv'
df_temp = pd.read_csv(fname)

In [3]:
df_temp.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [4]:
# Read airport codes_csv
airport_path = "airport-codes_csv.csv"
df_airport = pd.read_csv(airport_path)

In [5]:
df_airport.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [6]:
# Read us-cities-demographics
demographics = "us-cities-demographics.csv"
df_demogra = pd.read_csv(demographics,sep=";",header = 0)

In [7]:
df_demogra.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [8]:
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

In [94]:
# Load I94_Jan data
df_spark_I94_jan =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')

In [10]:
# It's the test to write to parquet and read in the merged way
# df_spark.write.parquet("test/key=2")
# mergedDF = spark.read.option("mergeSchema", "true").parquet("test")
# mergedDF.createOrReplaceTempView("I94_data")
# spark.sql("SELECT distinct i94mon FROM I94_data ").show()

In [15]:
# df_spark_I94_jan=spark.read.parquet("sas_data_jan")

In [16]:
df_spark_I94_jan.describe()

DataFrame[summary: string, cicid: string, i94yr: string, i94mon: string, i94cit: string, i94res: string, i94port: string, arrdate: string, i94mode: string, i94addr: string, depdate: string, i94bir: string, i94visa: string, count: string, dtadfile: string, visapost: string, occup: string, entdepa: string, entdepd: string, entdepu: string, matflag: string, biryear: string, dtaddto: string, gender: string, insnum: string, airline: string, admnum: string, fltno: string, visatype: string]

In [17]:
# Test the speed of loading data without parquet

# starttime = datetime.datetime.now()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat')
# endtime = datetime.datetime.now()
# print (endtime - starttime)

In [18]:
# starttime = datetime.datetime.now()
# df_spark.describe()
# endtime = datetime.datetime.now()
# print (endtime - starttime)

In [20]:
df_spark_I94_jan.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

##### Cleaning world-temperature data

In [21]:
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
dtypes: float64(2), object(5)
memory usage: 459.2+ MB

In [22]:
df_temp[df_temp.isnull().T.any()].count()

dt                               364130
AverageTemperature                    0
AverageTemperatureUncertainty         0
City                             364130
Country                          364130
Latitude                         364130
Longitude                        364130
dtype: int64

In [23]:
df_temp_copy = df_temp.dropna(how='any',axis=0)

In [24]:
df_temp_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8235082 entries, 0 to 8599210
Data columns (total 7 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
dtypes: float64(2), object(5)
memory usage: 502.6+ MB

In [25]:
df_temp_copy.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E

In [26]:
df_country = pd.read_csv('country list.csv')

In [27]:
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
Country_code    289 non-null int64
Country_name    289 non-null object
dtypes: int64(1), object(1)
memory usage: 4.6+ KB

In [28]:
df_country['Country_name'] = df_country['Country_name'].apply(lambda x: x.strip()).str.lower()

In [29]:
df_temp_copy['Country'] = df_temp_copy['Country'].str.lower()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
# clean the several exceptional data
df_country_index = df_country[df_country['Country_name'].str.contains('mexico')].index.tolist()
df_country.iloc[df_country_index,1] = 'mexico'
df_country_index = df_country[df_country['Country_name'].str.contains('china')].index.tolist()
df_country.iloc[df_country_index,1] = 'china'
df_country_index = df_country[df_country['Country_name'].str.contains('bosnia')].index.tolist()
df_country.iloc[df_country_index,1] = 'bosnia and herzegovina'
df_country_index = df_country[df_country['Country_name'].str.contains('bissau')].index.tolist()
df_country.iloc[df_country_index,1] = 'guinea bissau'
df_country_index = df_country[df_country['Country_name'].str.contains('congo')].index.tolist()
df_country.iloc[df_country_index,1] = 'congo (democratic republic of the)'

In [31]:
# Add the country_code column to df_temp_copy. which can link to the i94city or i94res of I94 data
df_temp_copy = pd.merge(df_temp_copy, df_country, left_on=df_temp_copy['Country'], right_on=df_country['Country_name'], how='left').drop('Country_name',1).drop('key_0',1)

In [32]:
df_temp_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8235082 entries, 0 to 8235081
Data columns (total 8 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
Country_code                     float64
dtypes: float64(3), object(5)
memory usage: 565.5+ MB

In [33]:
df_temp_copy['Country'][df_temp_copy['Country_code'].isnull()].value_counts()

united states    661524
canada            71444
côte d'ivoire     24126
puerto rico        6261
cambodia           2069
congo              1735
Name: Country, dtype: int64

In [34]:
# Amend the country code of "congo"  
df_temp_copy['Country_code'][df_temp_copy['Country']=='congo'] = 385

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
# Drop the Null value
df_temp_copy = df_temp_copy[df_temp_copy['Country_code'].notna()]

In [36]:
df_temp_copy['Country_code'] = df_temp_copy['Country_code'].astype(int)

In [37]:
df_temp_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7469658 entries, 0 to 8235081
Data columns (total 8 columns):
dt                               object
AverageTemperature               float64
AverageTemperatureUncertainty    float64
City                             object
Country                          object
Latitude                         object
Longitude                        object
Country_code                     int64
dtypes: float64(2), int64(1), object(5)
memory usage: 512.9+ MB

##### Cleaning airport data

In [38]:
df_airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
ident           55075 non-null object
type            55075 non-null object
name            55075 non-null object
elevation_ft    48069 non-null float64
continent       27356 non-null object
iso_country     54828 non-null object
iso_region      55075 non-null object
municipality    49399 non-null object
gps_code        41030 non-null object
iata_code       9189 non-null object
local_code      28686 non-null object
coordinates     55075 non-null object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

In [39]:
# delete null value of iata_code. The iata_code can link to the i94port of i94 data
df_airport_copy = df_airport[df_airport['iata_code'].notna()]

In [40]:
# delete coordinates column which is used for the following analysis
del df_airport_copy['coordinates']

In [41]:
df_airport_copy.head(5)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7

In [42]:
df_airport_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9189 entries, 223 to 55070
Data columns (total 11 columns):
ident           9189 non-null object
type            9189 non-null object
name            9189 non-null object
elevation_ft    8819 non-null float64
continent       6222 non-null object
iso_country     9158 non-null object
iso_region      9189 non-null object
municipality    8423 non-null object
gps_code        8538 non-null object
iata_code       9189 non-null object
local_code      2987 non-null object
dtypes: float64(1), object(10)
memory usage: 861.5+ KB

##### Cleaning demographics data

In [43]:
df_demogra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2891 entries, 0 to 2890
Data columns (total 12 columns):
City                      2891 non-null object
State                     2891 non-null object
Median Age                2891 non-null float64
Male Population           2888 non-null float64
Female Population         2888 non-null float64
Total Population          2891 non-null int64
Number of Veterans        2878 non-null float64
Foreign-born              2878 non-null float64
Average Household Size    2875 non-null float64
State Code                2891 non-null object
Race                      2891 non-null object
Count                     2891 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 271.1+ KB

In [44]:
df_demogra.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [45]:
df_state = pd.read_csv('state list.csv')

In [46]:
df_state.columns = ['state_abbr','full']

In [47]:
df_state['full']=df_state['full'].str.capitalize()

In [48]:
# add the state_abbreviation column to df_demogra_copy, which can link to the i94addr of I94 data

df_demogra_copy = pd.merge(df_demogra, df_state, left_on=df_demogra['State'], right_on=df_state['full'], how='left').drop('full',1).drop('key_0',1)

In [49]:
df_demogra_copy = df_demogra_copy[df_demogra_copy['state_abbr'].notna()]

In [50]:
df_demogra_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2554 entries, 0 to 2890
Data columns (total 13 columns):
City                      2554 non-null object
State                     2554 non-null object
Median Age                2554 non-null float64
Male Population           2551 non-null float64
Female Population         2551 non-null float64
Total Population          2554 non-null int64
Number of Veterans        2554 non-null float64
Foreign-born              2554 non-null float64
Average Household Size    2551 non-null float64
State Code                2554 non-null object
Race                      2554 non-null object
Count                     2554 non-null int64
state_abbr                2554 non-null object
dtypes: float64(6), int64(2), object(5)
memory usage: 279.3+ KB

##### Cleaning I94_Jan data

In [51]:
df_spark_I94_jan.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [52]:
df_spark_I94_jan.createOrReplaceTempView("I94_jan")

In [53]:
df_spark_I94_jan.take(1)

[Row(cicid=7.0, i94yr=2016.0, i94mon=1.0, i94cit=101.0, i94res=101.0, i94port='BOS', arrdate=20465.0, i94mode=1.0, i94addr='MA', depdate=None, i94bir=20.0, i94visa=3.0, count=1.0, dtadfile=None, visapost=None, occup=None, entdepa='T', entdepd=None, entdepu=None, matflag=None, biryear=1996.0, dtaddto='D/S', gender='M', insnum=None, airline='LH', admnum=346608285.0, fltno='424', visatype='F1')]

In [54]:
spark.sql("SELECT i94visa,count(*) as count FROM I94_jan GROUP BY i94visa ORDER BY count DESC").show()

+-------+-------+
|i94visa|  count|
+-------+-------+
|    2.0|1939899|
|    1.0| 522890|
|    3.0| 385135|
+-------+-------+

In [55]:
df_spark_I94_Jan_copy = spark.sql('''
          SELECT cicid,i94yr,i94mon,i94cit,i94res,i94port,i94addr,i94mode,i94bir,i94visa,gender,airline,biryear,arrdate,depdate
          FROM I94_jan
          ''')

In [56]:
df_spark_I94_Jan_copy.count()

2847924

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

I'd like to choose the fact-dimension model shown as below:

1. Fact table - I94 data with column of cicid,i94yr,i94mon,i94cit,i94res,i94port,i94addr,i94mode,i94bir,i94visa,gender,airline,biryear,arrdate,depdate. 

2. Dimension table - temperature data with column of dt,averageTemperature,averageTemperatureUncertainty,City,Country,Latitude,Longitud and Country_code.

3. Dimension table - airport data with column of ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code and coordinates.

4. Dimension table - state data with column of City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count and state_abbr.

The fact-dimension model is to explore the following questions:

1. The relationship between the variable(number,type,gender) of I94 and the increased range of temperature of different countries.
2. The relationship between the variable(number,type,gender) of I94 and the elevation_ft of different airports.
3. The relationship between the variable(number,type,gender) of I94 and the variable(age,population,number of veterans and so on) of different state.
4. Summay the data group by other dimension for other research purpose.

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

##### Step 3.2.1 : Creat table in redshift

##### Step 3.2.2 : Load the temperature,airport and state data to S3

##### Step 3.2.3:  Copy the temperature,airport and state data to redshift from S3

#####  Step 3.2.4 : Write the I94 the data to S3

##### Step 3.2.5 : Copy data to redshift from S3

##### Step 3.2.6 : Quality Check

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [66]:
# Create talbe in the redshift

In [67]:
%load_ext sql
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

In [65]:
DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get("CLUSTER","HOST")

In [66]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c1f8q8qgu7ht.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.OperationalError) could not translate host name "dwhcluster.c1f8q8qgu7ht.us-west-2.redshift.amazonaws.com" to address: Name or service not known

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [68]:
%%sql 
DROP TABLE IF EXISTS "df_temp_copy";
CREATE TABLE "df_temp_copy" (
    temp_record_id bigint identity(0,1),
    dt varchar,
    AverageTemperature float,
    AverageTemperatureUncertainty float,
    City varchar,
    Country varchar,
    Latitude varchar,
    Longitude varchar,
    Country_code varchar,
    primary key(temp_record_id)
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%%sql 
DROP TABLE IF EXISTS "df_airport_copy";
CREATE TABLE "df_airport_copy" (
    airport_record_id bigint identity(0,1),
    ident varchar,
    port_type varchar,
    name varchar,
    elevation_ft float,
    continent varchar,
    iso_country varchar,
    iso_region varchar,
    municipality varchar,
    gps_code varchar,
    iata_code varchar,
    local_code varchar,
    primary key(temp_record_id)
);

In [ ]:
%%sql 
DROP TABLE IF EXISTS "df_demogra_copy";
CREATE TABLE "df_demogra_copy" (
    demogra_record_id bigint identity(0,1),
    city varchar,
    state varchar,
    median_age float,
    male_population float,
    female_population float,
    total_population float,
    number_of_veterans float,
    foreign_born float,
    average_household_size float,
    state_code varchar,
    race varchar,
    count float,
    state_abbr varchar
    primary key(temp_demogra_id)
);

In [74]:
%%sql 
DROP TABLE IF EXISTS "i94_data";
CREATE TABLE "df_demogra_copy" (
    cicid integer ,
    i94yr integer,
    i94mon integer,
    i94cit integer,
    i94res integer,
    i94port varchar,
    i94addr varchar,
    i94mode integer,
    i94bir integer,
    i94visa integer,
    gender varchar,
    airline varchar,
    biryear integer,
    arrdate integer,
    depdate integer,
    primary key(cicid)
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# Load temperature,airport,state data to S3

In [75]:
df_temp_copy.to_csv('cleaned data/df_temp_copy.csv',index = None)

In [ ]:
df_airport_copy.to_csv('cleaned data/df_airport_copy.csv',index = None)

In [ ]:
df_demogra_copy.to_csv('cleaned data/df_demogra_copy.csv',index=None)

In [ ]:
def upload_file(path,s3_key):
    session = boto3.Session(
    aws_access_key_id='',    
    aws_secret_access_key='',
    region_name='us-east-1')
    
    s3 = session.resource('s3')
    
    bucket = s3.Bucket('udacity_data_engineer_jck')
    
    with open(path, 'rb') as data:
        bucket.put_object(Key=s3_key, Body=data)

In [ ]:
upload_file('cleaned data/df_temp_copy.csv','capstone_project/to_s3/df_temp_copy.csv')

In [ ]:
upload_file('cleaned data/df_airport_copy.csv','capstone_project/to_s3/df_airport_copy.csv')

In [ ]:
upload_file('cleaned data/df_demogra_copy.csv','capstone_project/to_s3/df_demogra_copy.csv')

In [ ]:
# Copy temperature,airport,state data from s3 to redshift

In [ ]:
%%time
qry = ("""
    copy df_temp_copy from s3://capstone_project/to_s3/df_temp_copy.csv
    iam_role {}
    region 'us-west-2';
""").format(config['IAM_ROLE']['ARN'])

%sql $qry

In [ ]:
%%time
qry = ("""
    copy df_airport_copy from s3://capstone_project/to_s3/df_airport_copy.csv
    iam_role {}
    region 'us-west-2';
""").format(config['IAM_ROLE']['ARN'])

%sql $qry

In [ ]:
%%time
qry = ("""
    copy df_demogra_copy from s3://capstone_project/to_s3/df_demogra_copy.csv
    iam_role {}
    region 'us-west-2';
""").format(config['IAM_ROLE']['ARN'])

%sql $qry

In [76]:
#  write I94 data parquet file into S3

In [ ]:
df_spark_I94_Jan_copy.write.mode("overwrite").parquet('s3://capstone_project/to_s3/parquet_file/')

In [77]:
# Load I94_data from s3 to redshift

In [ ]:
qry = ("""
    COPY i94_data
    FROM 's3://capstone_project/to_s3/parquet_file/'
    iam_role {}
    FORMAT AS PARQUET
    region 'us-west-2';
""").format(config['IAM_ROLE']['ARN'])
%sql $qry

In [ ]:
# Build the pipeline to load the I94 data into S3 by airflow
# Build the pipeline to load the data form s3 to redshift by airflowL

In [ ]:
# Load the airflow package.(Although airflow is not installed in the workspace, I'll still load it to show my knowledge about it.)

from airflow import DAG
from airflow.operators.dummy_operator import DummyOperator
from airflow.operators.postgres_operator import PostgresOperator
from airflow.operators.python_operator import PythonOperator

In [ ]:
default_args = {
    'owner': 'udacity',
    'start_date': datetime.datetime(2016, 1, 1, 0, 0, 0, 0),
    'end_date' : datetime.datetime(2016, 12, 1, 0, 0, 0, 0),
    'catchup':True,
    'depends_on_past':True,
    'retries' : 3,
    'retry_delay': timedelta(seconds=300)
}

dag = DAG('capstone project dag',
          default_args=default_args,
          description='Load I94 data from S3 to redshift',
          schedule_interval='@monthly',
        )

In [ ]:
copy_sql = """
        COPY {}
        FROM '{}'
        ACCESS_KEY_ID '{}'
        SECRET_ACCESS_KEY '{}'
    """

In [ ]:
def load_data_to_s3(*args, **kwargs):
    month_dict={'01':'jan','02':'feb','03':'mar','04':'apr','05':'may','06':'jun','07':'jul','08':'aug','09':'sep','10':'oct','11':'nov','12':'dec'}
    df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_{}16_sub.sas7bdat'.format(month_dict[kwargs['ds'][5:7]]))
    df_spark.createOrReplaceTempView("I94_data")
    df_spark_I94_copy = spark.sql('''
          SELECT cicid,i94yr,i94mon,i94cit,i94res,i94port,i94addr,i94mode,i94bir,i94visa,gender,airline,biryear,arrdate,depdate
          FROM I94_data
          ''')
    df_spark_I94_copy.write.parquet("s3://capstone_project/to_s3/parquet_file/key={}".format(month_dict[kwargs['ds'][5:7]]))

In [ ]:
def copy_data_to_redshift(*args, **kwargs):
    aws_hook = AwsHook("aws_credentials")
    credentials = aws_hook.get_credentials()
    redshift_hook = PostgresHook("redshift")
    redshift_hook.run(copy_sql.format(
        i94_data,
        "s3://capstone_project/to_s3/parquet_file/"
        credentials.access_key, 
        credentials.secret_key,
        ))

In [ ]:
S3_task = PythonOperator(
    task_id="load_data_to_S3",
    python_callable=load_data_to_S3,
    provide_context=True,
    dag=dag
)

In [ ]:
redshift_task = PythonOperator(
    task_id="copy_data_to_redshift",
    python_callable=copy_data_to_redshift,
    provide_context=True,
    dag=dag
)

In [ ]:
S3_task >> redshift_task

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

##### Integrity constraints on the relational databas

* We use sql listed as below in the redshift to check whether the column is complete and the data type is appropriate.

In [ ]:
%%sql 
Select * from df_temp_copy limit 5
Select * from df_airport_copy limit 5
Select * from df_demogra_copy limit 5
Select * from i94_data limit 5;

##### Unit tests for the scripts to ensure they are doing the right thing

* To explore the relationship bewteen i94 data and temperature data, airport data and state demographic data, we will use calculate certain variblbe in the "group by" method.

* So we use sql to check whether the calculation in the "group by" method can run in a correct way.

In [ ]:
%%sql 

Select Country, average(averagetemperature) from df_temp_copy 
Group by Country

Select sum(elevation_ft) from df_airport_copy

Select sum(median_age) from df_demogra_copy

Select i94mode, count(cicid) from i94_data

##### Source/Count checks to ensure completeness

* To check whether the data is complete

In [ ]:
%%sql
Select count(*) From df_temp_copy;
Select count(*) From df_airport_copy;
Select count(*) From df_demogra_copy;
Select count(*) From i94_data;

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### data dictionary

##### I94 data can be seen in the file "I94_SAS_Labels_Descriptions.SAS"

#####  df_airport_copy dictionary

* ident >> Airport identification
* type  >> The type of airport
* name  >> The name of airport
* elevation_ft >> The corresponding ft of the airport
* continent >> the continent of the airport
* iso_country >> the country of the airport
* iso_region >> the region of the airport
* municipality >> the city of the airport
* gps_code >> the gps_code of the airport
* iata_code >> the iata_code of the airport which can link to i94port of i94 data
* local_code >> the local code of the airport

In [89]:
# df_temp_copy dictionary 
df_temp_copy.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,Country_code
0,1743-11-01,6.068,1.737,Århus,denmark,57.05N,10.33E,108
1,1744-04-01,5.788,3.624,Århus,denmark,57.05N,10.33E,108
2,1744-05-01,10.644,1.283,Århus,denmark,57.05N,10.33E,108
3,1744-06-01,14.051,1.347,Århus,denmark,57.05N,10.33E,108
4,1744-07-01,16.082,1.396,Århus,denmark,57.05N,10.33E,108

#####  df_temp_copy dictionary

* dt >> datetime
* AverageTemperature  >> The average temperature of the day 
* AverageTemperatureUncertainty >> The standard error of the average temperature of the day
* City >> City Name
* Country >> Country Name
* Latitude >> the latitude of the country
* longitude >> the longitude of the country
* Country_code >> the country code of the country which can link to i94city or i94res of I94_data

In [90]:
# df_demogra_copy dictionary 
df_demogra_copy.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count,state_abbr
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924,MD
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723,MA
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759,AL
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437,CA
5,Peoria,Illinois,33.1,56229.0,62432.0,118661,6634.0,7517.0,2.40,IL,American Indian and Alaska Native,1343,IL

#####  df_demogra_copy dictionary

* City >> city name
* State >> the state of city
* Median Age >> the median age of the population of the city
* Male Population >> the male population of the city
* Female population >> the female population of the city
* total population >> the total population of the city
* Number of veterans >> the number of local resident of the city
* Foreign-born >> the number of foreign-born of the city
* Average Household Size >> the average household size of the city
* State Code >> the state code of the city
* Race >> the majority race of the city
* Count >> the family count of the city
* state_abbr >> the abbreviation of the state,which can link to i94addr of I94_data

#### Step 5: Complete Project Write Up

* **Clearly state the rationale for the choice of tools and technologies for the project.**

The tools and technologise used is listed as below:

* Due to the data is not relatively small, we use pandas to wrangling the data of airport,temperature and state demographics.
* Due to the i94 data is large, we use spark to wrangling the data of I94 data
* Due to the tendency of moving to Cloud, we save the data into Amazon S3
* Due to the tendency of moving to Cloud, we create the table in the warehouse Redshift also provided by the Amazon
* Due to i94 data is large and the process is relative stable, we use airflow to builde the pipline to load i94 data to S3 and copy i94 data to Redshift

* **Propose how often the data should be updated and why.**

The data could be updated by month because i94 data is stored in the original file by month.
We can build the pipeline update data by month.

 Write a description of how you would approach the problem differently under the following scenarios:

* **The data was increased by 100x.**

If thte data was increased by 100x, we will use spark to deal with data instead of pandas.
Besides, we will consider the following things:

1) Using airflow to build the pipline and update data in a partition way.

2) Consider the cost of redshift is high, we will use spark to deal with data and store the data in the S3.Meanwhile, we establish the link between BI tools and S3 for the data consumers.

3) If we still use the redshift, we will store the data in a parition way

* **The data populates a dashboard that must be updated on a daily basis by 7am every day.**

We will change the dag schedule_interval from monthly to daily and set the start time at 7am every day.

* **The database needed to be accessed by 100+ people.**

We will set the appropriate authority for different users.

We will consider use Nosql database.